<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Elite Shoppy an Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <!--/tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Elite Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--//tags -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />
    <link th:href="@{/css/easy-responsive-tabs.css}" rel='stylesheet' type='text/css'/>
    <!-- //for bootstrap working -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
</head>
<style>
    .line-heightt{
        line-height: 115px;
    }
</style>
<body>
    <th:block th:include="header"/>
    <div class="container">

        <h2 class="text-center" style="margin: 50px 0px;font-weight: bold;">Đơn hàng gồm</h2>

        <table id="cart" class="table table-hover table-condensed">
            <thead th:unless="${session.myCartTotal==0&& session.myCartMembers==0}">
            <tr>
                <th class="text-center" style="width:30%">Tên sản phẩm</th>
                <th style="width:20%">Giá</th>
                <th style="width:10%">Số lượng</th>
                <th style="width:30%" class="text-center">Thành tiền</th>
            </tr>
            </thead>
            <thead th:if="${session.myCartTotal==0}">
            <h2 style="display: block; text-align: center">Đơn hàng trống</h2>
            <i style="text-align: center;font-size: 90px;display: block;" class="fa fa-shopping-cart"></i>
            </thead>
            <thead th:if="${session.myCartMembers==0}">
            <h2 style="display: block; text-align: center">Đơn hàng trống</h2>
            <i style="text-align: center;font-size: 90px;display: block;" class="fa fa-shopping-cart"></i>
            </thead>
            <tbody>
            <th:block th:if="${session.myLogin==null}">
                <tr th:each="cart : ${session.myCartItems}">
                    <td data-th="Product">
                        <div class="row">
                            <a style="color: #555555" th:href="@{/product/}+${cart.product.productId}">
                                <div class="col-sm-5 hidden-xs">
                                    <img th:src="@{/images/}+${cart.product.productImages}"  class="img-responsive">
                                </div>
                                <div class="col-sm-7">
                                    <h5 class="nomargin line-heightt" th:text="${cart.product.productName}"></h5>
                                </div>
                            </a>
                        </div>
                    </td>
                    <div  th:with="salePrice= (${cart.product.productPrice} - (${cart.product.productPrice}/100) * ${cart.product.productSale}) ">
                        <td data-th="Price" style="line-height: 115px" th:text="${#numbers.formatInteger(salePrice,0,'COMMA')}+' VND'"></td>
                        <td class="text-center" data-th="Quantity" style="line-height: 115px" th:text="${cart.quantity}" />
                        <td th:with="priceTotal= ${salePrice * cart.quantity}" data-th="Subtotal" class="text-center" style="line-height: 115px" th:text="${#numbers.formatInteger(priceTotal,0,'COMMA')}+' VND'"></td>
                    </div>
                </tr>
            </th:block>
            <th:block th:unless="${session.myLogin==null}">
                <tr th:each="cart : ${session.myCartMembers}">
                    <td data-th="Product">
                        <div class="row">
                            <a style="color: #555555" th:href="@{/product/}+${cart.product.productId}">
                                <div class="col-sm-5 hidden-xs">
                                    <img th:src="@{/images/}+${cart.product.productImages}"  class="img-responsive">
                                </div>
                                <div class="col-sm-7">
                                    <h5 class="nomargin line-heightt" th:text="${cart.product.productName}"></h5>
                                </div>
                            </a>
                        </div>
                    </td>
                    <div  th:with="salePrice= (${cart.product.productPrice} - (${cart.product.productPrice}/100) * ${cart.product.productSale}) ">
                        <td data-th="Price" style="line-height: 115px" th:text="${#numbers.formatInteger(salePrice,0,'COMMA')}+' VND'"></td>
                        <td class="text-center" data-th="Quantity" style="line-height: 115px" th:text="${cart.quantity}" />
                        <td th:with="priceTotal= ${salePrice * cart.quantity}" data-th="Subtotal" class="text-center" style="line-height: 115px" th:text="${#numbers.formatInteger(priceTotal,0,'COMMA')}+' VND'"></td>
                    </div>
                </tr>
            </th:block>
            </tbody>
            <tfoot>
            <tr>
                <td><a th:href="@{/cart/cart}" class="btn btn-warning"><b><i class="fa fa-angle-left"></i> Trở lại giỏ hàng</b></a>
                <td colspan="2" class="hidden-xs"></td>
                <td class="hidden-xs" th:unless="${session.myCartTotal==0}"><strong style="font-size:19px; font-weight: 900 ">Tổng tiền : <span th:text="${#numbers.formatInteger(session.myCartTotal,0,'COMMA')}+' VND'"></span></strong>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="banner_bottom_agile_info">
        <div class="container">
            <th:block th:if="${session.myLogin==null}">
                <form action="#" th:action="@{/cart/checkout}" method="post" th:object="${receipt}">
                    <div class="col-md-6 contact-form">
                        <h4 class="white-w3ls">Đặt hàng</h4>
                        <div class="styled-input agile-styled-input-top">
                            <input type="text" name="Name" th:field="*{receiptName}" required="">
                            <label>Tên khách hàng</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
                            <input type="text" name="adress"  th:field="*{receiptAddress}" required="">
                            <label>Địa chỉ</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
                            <input type="text" name="Subject"  th:field="*{receiptPhone}" required="">
                            <label>Số điện thoại</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
                            <input type="text" name="email"  th:field="*{receiptEmail}" required="">
                            <label>Email</label>
                            <span></span>
                        </div>
                        <input type="submit" value="Đặt Hàng">
                    </div>
                </form>
            </th:block>
            <th:block th:unless="${session.myLogin==null}">
                <form action="#" th:action="@{/cart/checkout}" method="post" th:object="${ifmMember}">
                    <div class="col-md-6 contact-form">
                        <h4 class="white-w3ls">Đặt hàng</h4>
                        <div class="styled-input agile-styled-input-top">
                            <input type="hidden" name="Name" th:field="*{memberEmail}" required="">
                            <input type="hidden" name="Name" th:field="*{memberStatus}" required="">
                            <input type="hidden" name="Name" th:field="*{memberId}" required="">
                        </div>
                        <div class="styled-input agile-styled-input-top">
                            <input type="text" name="Name" th:field="*{memberUser}" required="">
                            <label>Tên khách hàng</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
                            <input type="text" name="adress"  th:field="*{memberAddress}" required="">
                            <label>Địa chỉ</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
                            <input type="text" name="Subject"  th:field="*{membersPhone}" required="">
                            <label>Số điện thoại</label>
                            <span></span>
                        </div>
                        <input type="submit" value="Đặt Hàng">
                    </div>
                </form>
            </th:block>
        </div>
        <div class="clearfix"> </div>
    </div>
    <th:block th:include="footer"/>
</body>
</html>