<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Elite Shoppy an Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <!--/tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Elite Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--//tags -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />
    <link th:href="@{/css/easy-responsive-tabs.css}" rel='stylesheet' type='text/css'/>
    <!-- //for bootstrap working -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
<th:block th:include="header"></th:block>
<!--/single_page-->
<!-- /banner_bottom_agile_info -->
<div th:object="${product}" class="page-head_agile_info_w3l">
    <div class="container">
        <h3 th:text="*{productName}"></h3>
        <!--/w3_short-->
        <div class="services-breadcrumb">
            <div class="agile_inner_breadcrumb">

                <ul class="w3_short">
                    <li><a th:href="@{/}">Home</a><i>|</i></li>
                    <li th:text="*{productName}"></li>
                </ul>
            </div>
        </div>
        <!--//w3_short-->
    </div>
</div>

<!-- banner-bootom-w3-agileits -->
<div class="banner-bootom-w3-agileits">
    <form action="#" th:action="@{/cart/add/}+${product.productId}" method="post">
        <div th:object="${product}" class="container">
            <div class="col-md-4 single-right-left ">
                <div class="grid images_3_of_2">
                    <div class="flexslider">

                        <ul class="slides">
                            <li style="list-style: none">
                                <div class=""> <img th:src="@{/images/}+${product.productImages}" > </div>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 single-right-left simpleCart_shelfItem" th:with="salePrice= (${product.productPrice} - (${product.productPrice}/100) * (${product.productSale}))">
                <h3 th:text="*{productName}"></h3>
                <p><span th:text="${#numbers.formatInteger(salePrice,0,'COMMA')}+' VND'" class="item_price"></span>
                    <del class="item_price" th:text="${#numbers.formatInteger(product.productPrice,0,'COMMA')}+' VND'"/>
                <div class="rating1">
						<span class="starRating">
							<input id="rating5" type="radio"  value="5">
							<label for="rating5">5</label>
							<input id="rating4" type="radio"  value="4">
							<label for="rating4">4</label>
							<input id="rating3" type="radio"  value="3" checked="">
							<label for="rating3">3</label>
							<input id="rating2" type="radio"  value="2">
							<label for="rating2">2</label>
							<input id="rating1" type="radio"  value="1">
							<label for="rating1">1</label>
						</span>
                </div>
                <div class="form-group">
                    <b> <span th:text="'Còn lại '+${product.productTotal}+' sản phẩm'"/></b>
                </div>
                <div class="form-group">
                    <label >Quantity</label>
                    <input type="number" name="total" style="width: 100px;" th:value="1" th:min="1" th:max="*{productTotal}" class="form-control form-control-sm">
                </div>
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2" style="float: left;line-height: 35px;display: block; width: 36%;" >
                    <input type="submit" class="button" value="Mua ngay">
                </div>
            </div>
            <div class="clearfix"> </div>
            <!-- /new_arrivals -->
            <div class="responsive_tabs_agileits">
                <div id="horizontalTab">
                    <ul class="resp-tabs-list">
                        <li>Thông tin</li>
                    </ul>
                    <div class="resp-tabs-container">
                        <!--/tab_one-->
                        <div class="tab1">

                            <div class="single_page_agile_its_w3ls">
                                <h6 th:text="*{productName}"/>
                                <p th:text="*{productDescription}">Lorem ipsum dolor sit amet, consectetur adipisicing elPellentesque vehicula augue eget nisl ullamcorper, molestie blandit ipsum auctor. Mauris volutpat augue dolor.Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut lab ore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. labore et dolore magna aliqua.</p>
                                <p class="w3ls_para">Lorem ipsum dolor sit amet, consectetur adipisicing elPellentesque vehicula augue eget nisl ullamcorper, molestie blandit ipsum auctor. Mauris volutpat augue dolor.Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut lab ore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- //new_arrivals -->
<!--/slider_owl-->
<div class="new_arrivals_agile_w3ls_info">
    <div class="container">
        <h3 class="wthree_text_info">FEATURED  <span>ARRIVALS</span></h3>
            <div class="resp-tabs-container">
                <div class="tab1">
                    <div th:each="featured : ${listProductFeatured}" class="col-md-3 product-men">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item">
                                <img th:src="@{/images/}+${featured.productImages}" alt="" class="pro-image-front">
                                <img th:src="@{/images/}+${featured.productImages}" alt="" class="pro-image-back">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a th:href="@{/product/}+${featured.productId}" class="link-product-add-cart">Quick View</a>
                                    </div>
                                </div>
                                <span class="product-new-top">New</span>

                            </div>
                            <div class="item-info-product ">
                                <h4><a href="single.html" th:text="${featured.productName}"/></h4>
                                <div class="info-product-price">
                                    <del class="item_price" th:text="${#numbers.formatInteger(featured.productPrice,0,'COMMA')}+' VND'"/>
                                </div>
                                <div class="info-product-price"  th:with="salePrice= (${featured.productPrice} - (${featured.productPrice}/100) * ${featured.productSale})">

                                    <span th:text="${#numbers.formatInteger(salePrice,0,'COMMA')}+' VND'"/>
                                </div>
                                <div>
                                    <a class="hvr-outline-out button2" style="padding: 10px;font-weight: bold;color:aliceblue; " th:href="@{/cart/add/}+${featured.productId}">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
        </div>
</div>
</div>
<th:block th:include="footer"></th:block>
</body>
</html>